<mj-section padding="10px 0px 40px" background-color="#7d4199" border-top="solid 9px #ff6666">
  <mj-column>
    <mj-text color="#fff" font-size="13px" line-height="16px"> For more information about Lo Loestrin<sup style="line-height:0;font-weight:normal;font-size:65%;">&reg;</sup> Fe, please visit <a href="https://hcp.loloestrin.com/" target="_blank" style="color: #fff;">hcp.loloestrin.com</a> or call Allergan Medical
      Information toll-free at <a href="tel:1-800-678-1605" style="text-decoration:none;color:#ffffff;font-weight:bold;">1.800.678.1605.</a> </mj-text>
    <mj-text color="#fff" font-size="13px" line-height="16px"> PLEASE NOTE: DO NOT REPLY TO THIS EMAIL. Emails sent to this account will not be read.
      </mj-text>
      
      
    <mj-text color="#fff" font-size="13px" line-height="16px">
      We encourage our readers to look at our <a href="https://www.allergan.com/privacy/" target="_blank" style="color: #fff;">Privacy Statement</a> <br/>
      <a href="https://www.allergan.com/privacy-and-terms/ccpa" target="_blank" style="color: #fff;">California Privacy Policy</a>
      </mj-text>
      
      <mj-text color="#fff" font-size="13px" line-height="16px">
      If you would prefer
      not to receive further messages from this sender, please <a href="http://whatcounts.com/bin/listctrl?c=ack&s=[deployment variable]&e=[email variable]&oc=unsubscribe" target="_blank" style="color: #fff;">click here</a> and confirm your request.</mj-text>
    
    
    
    <mj-image src="images/allergan-logo.png"
      href="https://www.allergan.com/home" width="213px" alt="Allergan" />
    <mj-text color="#fff" font-size="13px" align="center" line-height="16px"> Allergan USA, Inc.<br /> 5 Giralda Farms<br /> Madison, NJ 07940 </mj-text>
    <mj-text color="#fff" align="center" font-size="13px" line-height="16px"> &copy; 2020 Allergan. All rights reserved.<br /> Allergan<sup style="line-height:0;font-weight:normal;font-size:65%;">&reg;</sup> and its design are trademarks&nbsp;of Allergan, Inc.<br />Lo&nbsp;Loestrin<sup style="line-height:0;font-weight:normal;font-size:65%;">&reg;</sup>      and its design are registered trademarks of Allergan Pharmaceuticals&nbsp;International Limited.<br /> All other trademarks and product names are the property of their respective&nbsp;owners.<br /> LOL135424  04/20 </mj-text>
  </mj-column>
</mj-section>